nav {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navContainer.with-bg {
  background-color: var(--pollar-night-nord0);
  color: var(--snow-storm-nord4);
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-1);
  padding: var(--space-1);
  width: 5rem;
}

.navlink.active {
  border-top: 2px solid var(--snow-storm-nord6);
}
