/* JetBrains Mono */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Cascadia Code */
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap");

@import "tailwindcss";

@theme {
  /* font family */
  --font-jetbrains-mono: "JetBrains Mono", serif;
  --font-cascadia-code: "Cascadia Code", sans-serif;

  /* color palettes */
  /* reference: https://www.nordtheme.com/docs/colors-and-palettes */
  /* dark colors */
  --color-pollar-night-nord0: #2e3440;
  --color-pollar-night-nord1: #3b4252;
  --color-pollar-night-nord2: #434c5e;
  --color-pollar-night-nord3: #4c566a;

  /* light colors */
  --color-snow-storm-nord4: #d8dee9;
  --color-snow-storm-nord5: #e5e9f0;
  --color-snow-storm-nord6: #eceff4;

  /* accent colors */
  --color-frost-nord7: #8fbcbb;
  --color-frost-nord8: #88c0d0;
  --color-frost-nord9: #81a1c1;
  --color-frost-nord10: #5e81ac;

  --color-aurora-nord11: #bf616a;
  --color-aurora-nord12: #d08770;
  --color-aurora-nord13: #ebcb8b;
  --color-aurora-nord14: #a3be8c;
  --color-aurora-nord15: #b48ead;

  --shadow-small: 4px 4px 0 #4c566a;
  --shadow-medium: 6px 6px 0 #4c566a;
}
