.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-1);
  text-align: center;
}

.portfolio-header h2 {
  font-size: var(--text-h2);
}

.description {
  text-align: center;
  font-weight: 500;
  width: 85%;
}

.portfolio-content {
  padding-bottom: 4rem;
  /* to prevent content from being hidden behind the fixed navbar */
}

.bitdegree,
.hostinger,
.wordpress {
  margin-bottom: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bitdegree-logo {
  width: 125px;
  margin: var(--space-4);
}

.hostinger-logo,
.wordpress-logo {
  width: 200px;
}

.line-break {
  width: 85%;
  border: 1px solid var(--pollar-night-nord3);
  margin: auto;
  border-radius: 50%;
}