.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-1);
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--snow-storm-nord6);
  border-bottom: none;
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.portfolio-header.scrolled {
  border-bottom: 2px solid var(--pollar-night-nord3);
  box-shadow: 0 2px 4px var(--pollar-night-nord2);
}

.portfolio-title {
  font-size: var(--text-h1);
}

.portfolio-description {
  text-align: center;
  font-weight: 600;
  line-height: 1.6;
  margin: var(--space-2) 0;
}

.portfolio-content {
  padding-bottom: 4rem;
  /* to prevent content from being hidden behind the fixed navbar */
  width: 90%;
}

.bitdegree,
.hostinger,
.wordpress {
  margin-bottom: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bitdegree-logo {
  width: 125px;
  margin: var(--space-4);
}

.hostinger-logo,
.wordpress-logo {
  width: 200px;
}

.card-text {
  line-height: 1.5;
}

/* Responsive Design */
@media (min-width: 768px) {
  .line-break {
    width: 90%;
  }

  .portfolio-content {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .portfolio-content {
    width: 85%;
  }
}